/* tablets */
@media (max-width: 992px) {

   .heroSection {
    width: 100%;
    text-align: center;
    
   }

   .aboutSection {
    /* top: 580px; */
    width: 80%;
   }

   .aboutDiv {
    width: 100%;
    text-align: center;
    font-size: 60%;
   }

   .aboutDiv h2 {
    width: 100%;
    font-size: 20px;
   }

   .aboutDiv button{
    font-size: 10px;
   }

   .information {
    top: 650px;
    font-size: 70%;
   }

   .containerCard {
    top: 100px;
   }

   .beneficioDiv {
    height: 40%;
    text-align: center;
   }


} 


@media (max-width: 576px) {


    .menu {
        display: flex;
        cursor: pointer;
    }
    
    #toggle-menu:checked ~ .nav_ul {
        display: flex;
    }


    .nav_ul {
        position: absolute;
        width: 90%;
        left: 5%;
        right: 5%;
        border: 2px solid rgba(9, 156, 235, 0.655) ;
        border-top: 0;
        top: 90px;
        background-color:  rgba(5, 5, 18, 0.721);
        border-radius: 0px 0px 10px 10px;
        -webkit-border-radius: 0px 0px 10px 10px;
        -moz-border-radius: 0px 0px 10px 10px;
        -ms-border-radius: 0px 0px 10px 10px;
        -o-border-radius: 0px 0px 10px 10px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 10px;
        padding: 20px 30px;
        display: none;
}


.heroSection {
    font-size: 18px;
}

.aboutSection {
    width: 75%;
    height: 100%;
    position: relative;
    top: 500px;
}

.information {
    position: relative;
    top: 550px;
    
}

.infoCardImg {
    gap: 10px;
}

.beneficioDiv {
    position: relative;
    top: 350px;
    flex-wrap: wrap;
}
 .card {
    min-width: 150px;
 }
.ContactoDiv {
    width: 60%;
    font-size: 7px;
    justify-content: center;
    gap: 20px;
    
}

.ContactoDiv img {
    width: 60%;
}

.ContactoMail ul {
    font-size: 6px;
    text-align:start;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footerDiv {
    font-size: 7px;
}

    /* *{
        border: 0.1rem solid red;
    } */
}