*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.conteiner {
    background-color:cadetblue;
    padding: 10px;
    border-radius: 10px;
}

.box {
    display: flex;
    
    
}
